.popup {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

.popup__content {
    margin: 0 auto;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

.popup__close {
    margin-top: 20px;
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.popup__close:hover {
    background: #388e3c;
}
