.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-button {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    line-height: 16.52px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    background-color: white;
    color: rgb(102, 91, 91);
}