.main {
    font-family: "Montserrat";
}

.beginning__image {
    display: flex;
    justify-content: flex-end;
}

.beginning {
    background-color: antiquewhite
}

.beginning__button {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(251, 185, 98) ;
    border-radius: 6px;
    color: white;
    border: 0;
    width: 193px;
    height: 52px;
}

.beginning__button__right {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 14px;
    background-color: antiquewhite;
    color:  rgb(251, 185, 98);
    border-radius: 6px;
    border: 1px solid  rgb(251, 185, 98);
    width: 193px;
    height: 52px;
}

.beginning__container {
    display: flex;
}

.beginning__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.beginning__tittle {
    font-size: 37px;
}

.beginning__text {
    font-size: 25px;
}

.beginning__wrap__left {
    display: block;
    padding: 10px;
}

.beginning__button__container {
    display: block;
    margin-top: 55px;
    padding: 10px;
}